<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Coeliac Finder</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Coeliac Finder</a>
    {% if user_data: %}
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user_data.email }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled" href="#">Change password</a>
            <a class="dropdown-item disabled" href="#">Change account details</a>
            <a class="dropdown-item" href="logout">Logout</a>
        </div>
    </div>
    {% else: %}
    <button id="btnLogin" type="button" class="btn btn-outline-secondary" data-toggle="modal"
        data-target="#loginModal">Login</button>
    {% endif %}
</nav>

<body>
    <div style="height: calc(100% - 56px); width: 100%; position: absolute;" id="map"></div>

    <!-- Start loginModal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="loginForm" action="/login" method="post" class="needs-validation">
                    <!--novalidate-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pb-0">
                        <div id="loginStatus" class="ajaxStatus">
                            <!-- Login status will display here -->
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-12">
                                <label for="loginModalEmail">Email</label>
                                <input type="text" class="form-control submitOnEnter" name="email" id="loginModalEmail"
                                    placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-12">
                                <label for="loginModalPassword">Password</label>
                                <input type="password" class="form-control submitOnEnter" name="password"
                                    id="loginModalPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p><a href="#" data-toggle="modal" data-target="#signupModal"
                                    onclick="hideModal('loginModal')">Create an
                                    account</a></p>
                            <p><a href="#" data-toggle="modal" data-target="#forgotPasswordModal"
                                    onclick="hideModal('loginModal')">Forgot
                                    password</a></p>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkRemeberMe"
                                disabled="true">
                            <label class="form-check-label" for="checkRemeberMe">Remember me</label>
                        </div>
                        <button type="button" form="loginForm" class="btn btn-primary" name="loginSubmit"
                            id="loginSubmit" value="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End loginModal -->

    <!-- Start createAccountModal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="signupForm" action="signup" method="post" class="needs-validation">
                    <!--novalidate-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="signupModalLabel">Create Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pb-0">
                        <div id="signupStatus" class="ajaxStatus">
                            <!-- Create Account status will display here -->
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-6">
                                <label for="signupFirstName">First Name</label>
                                <input type="text" class="form-control" id="signupFirstName" maxlength="100"
                                    placeholder="First Name" name="firstName" required>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="signupLastName">Last Name</label>
                                <input type="text" class="form-control" id="signupLastName" maxlength="100"
                                    placeholder="Last Name" name="lastName" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-12">
                                <label for="signupUsername">Username</label>
                                <input type="text" class="form-control" id="signupUsername" maxlength="64"
                                    placeholder="Username" name="username" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-12">
                                <label for="signupEmail">Email</label>
                                <input type="email" class="form-control" id="signupEmail" maxlength="100"
                                    placeholder="Email" name="email" required>
                                <small id="signupEmailHelp" class="form-text text-muted">We'll never share
                                    your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-6">
                                <label for="signupPassword">Password</label>
                                <input type="password" class="form-control" id="signupPassword" placeholder="Password"
                                    minlength="8" maxlength="64" name="password" required>
                                <!--onkeyup="validateConfirmPassword('signupModal')"-->
                                <small id="signupPasswordHelp" class="form-text text-muted">Password must be
                                    at-least 8 characters long and contain a lowercase letter, an uppercase letter, and
                                    a number.</small>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="signupConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="signupConfirmPassword"
                                    placeholder="Confirm Password" name="confirmPassword" required>
                                <!--onkeyup="validateConfirmPassword('signupModal')"-->
                                <div id="signupPasswordMatchError" class="invalid-feedback">
                                    Passwords must match.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="g-recaptcha mb-3" data-sitekey="6LcDP40UAAAAAH4UY_4Komf4XsS8B1FqKCVMiScR"></div> Google reCAPTCHA -->
                    </div>
                    <div class="modal-footer justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkTermsAndConditions"
                                required>
                            <label class="form-check-label" for="checkTermsAndConditions">
                                I agree to the <a href="#" data-toggle="modal"
                                    data-target="#termsAndConditionsModal">terms and conditions</a>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" name="signupSubmit" form='signupForm'
                            id='signupSubmit' value="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End createAccountModal -->

    <!-- Start forgotPasswordModal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog"
        aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="forgotPasswordForm" class="needs-validation" action="forgotpassword" method="POST" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pb-0">
                        <div id="forgotPasswordStatus" class="ajaxStatus">
                            <!-- Forgot Password status will display here -->
                        </div>
                        <div class="form-row">
                            <div class="mb-3 col-md-12">
                                <label for="forgotPasswordModalEmail">Email</label>
                                <input type="text" class="form-control" id="forgotPasswordEmail" placeholder="Email"
                                    name="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" name="forgotPasswordSubmit"
                            id="forgotPasswordSubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End forgotPasswordModal -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ptybqH1F-VvomPE-srz5x9tOc8vQ-Bk&callback=initMap"
        async defer></script>
</body>

</html>